.project-grid {
	display: grid;
	grid: auto-flow / repeat(3, minmax(0, 1fr));
	gap: 55px 45px;

	&__el {
		&_large {
			grid-column: 1 / span 3;
		}
	}

	@media (width <= 900px) {
		grid-template-columns: 1fr;
		gap: 40px 0;

		&__el {
			&_large {
				grid-column: 1;
			}

			&_simple {
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
}
