.h3 {
	margin: 0;
	font-size: 21px;
	font-weight: 500;
	line-height: 31px;

	&_mt {
		margin-top: 23px;
	}

	&_mb {
		margin-bottom: 6px;
	}

	@media (width <= 900px) {
		font-size: 17px;
		line-height: 24px;

		&_mt {
			margin-top: 15px;
		}
	}
}
