.h1 {
	margin: 0;
	font-size: 56px;
	font-style: normal;
	font-weight: 400;
	line-height: 61px;

	&_mt {
		margin-top: 80px;
	}

	&_mb {
		margin-bottom: 45px;
	}

	@media (max-width: 900px) {
		font-size: 41px;
		line-height: 47px;

		&_mt {
			margin-top: 40px;
		}

		&_mb {
			margin-bottom: 25px;
		}
	}
}
