.art {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 20px;
	will-change: transform; // workaround safari don't set border-radius pply

	&__wrapper {
		position: absolute;
		inset: -10px;
	}

	&__canvas {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__fallback-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__fallback {
		display: block;
		height: 230px;
		margin: 0 auto;
		border-radius: 15px;
	}

	@media (width <= 900px) {
		border-radius: 15px;
	}
}
