.card {
	display: flex;
	flex-direction: column;
	min-height: 376px;
	padding: 35px 30px;
	background-color: var(--grey-bg);
	border-radius: 20px;

	&__img {
		margin-bottom: 17px;
	}

	&__title {
		margin-bottom: 6px;
	}

	&__description {
		margin-bottom: 25px;
	}

	&__github {
		display: flex;
		justify-content: flex-start;
		margin-top: auto;
	}

	@media (max-width: 900px) {
		height: 330px;
		padding: 20px 20px 25px;

		&__title {
			margin-bottom: 8px;
		}
	}
}

.github-link {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;

	&::before {
		width: 21px;
		height: 21px;
		margin-right: 9px;
		content: "";
		background: url(./asset/github-logo.svg) no-repeat center;
	}

	&:hover {
		color: var(--blue-text-hover);
		transition: color 0.3s ease-out;

		&::before {
			background-image: url(./asset/github-logo-hover.svg);
			transition: background 0.3s ease-out;
		}
	}
}
