.card {
	display: flex;
	flex-direction: column;
	height: 376px;
	padding: 35px 30px;
	background-color: var(--grey-bg);
	border-radius: 20px;

	&__img {
		margin-bottom: 17px;
	}

	&__github {
		display: flex;
		justify-content: flex-start;
		margin-top: auto;
	}
}

.github-link {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;

	&::before {
		width: 21px;
		height: 21px;
		margin-right: 9px;
		content: "";
		background: url(./asset/github-logo.svg) no-repeat center;
	}

	&:hover {
		color: #0a85ff;
		transition: color 0.3s ease-out;

		&::before {
			background-image: url(./asset/github-logo-hover.svg);
			transition: background 0.3s ease-out;
		}
	}
}
