.ui-link {
	color: var(--blue-text);
	text-decoration: none;

	&:hover {
		color: #0a85ff;
		transition: color 0.3s ease-out;
	}
}

.ui-p {
	font-size: 14px;
	font-weight: 200;
	line-height: 25px;

	&_my {
		margin-top: 8px;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_large {
		font-size: 15px;
		line-height: 28px;
	}

	&_small {
		font-size: 11px;
		line-height: 19px;
	}

	&_mxw-540 {
		max-width: 540px;
	}

	@media (max-width: 900px) {
		font-size: 13px;
		line-height: 24px;

		// font-size: 12px;
		// line-height: 22px;

		&_small {
			font-size: 10px;
			line-height: 17px;
		}
	}
}

.ui-grey-text {
	color: var(--grey-text);
}
