.ui-link {
	color: var(--blue-text);
	text-decoration: none;

	&:hover {
		color: #0a85ff;
		transition: color 0.3s ease-out;
	}
}

.ui-p {
	font-size: 14px;
	font-weight: 200;
	line-height: 25px;

	&_my {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	&_large {
		font-size: 15px;
		line-height: 28px;
	}

	&_small {
		font-size: 11px;
		line-height: 19px;
	}

	&_mxw-540 {
		max-width: 540px;
	}
}

.ui-grey-text {
	color: var(--grey-text);
}
