* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	min-height: 100vh;
	background-color: #000;
}

b {
	font-weight: 500;
}

:root {
	/* text */
	--grey-text: #c9c9c9;
	--blue-text: #1dc9ff;
	--blue-text-hover: #89e3ff;

	/* background */
	--grey-bg: #151515;
}
