.layout {
	min-height: 100vh;
	color: #fff;
	background-color: #000;
}

.wrapper {
	max-width: 1010px;
	padding: 50px 20px 80px;
	margin: 0 auto;
}

@media (width <= 900px) {
	.wrapper {
		padding: 30px 20px 45px;
	}
}
