.main-intro {
	display: flex;

	&__switcher {
		margin-bottom: 47px;
	}

	&__about {
		padding-right: 20px;
	}

	&__art {
		flex-shrink: 0;
		width: 310px;
		background-color: #f7cfdf;
		border-radius: 20px;
	}

	&__title {
		margin-bottom: 45px;
	}

	&__title-links {
		display: flex;
		flex-wrap: wrap;
		margin-top: 19px;
	}

	&__title-link {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.main-used-grid {
	display: grid;
	grid: auto-flow / repeat(3, 1fr);
	gap: 30px 40px;
}

.main-open-source-grid {
	display: grid;
	grid: auto-flow / repeat(3, 1fr);
	gap: 20px;
}
